@import "variables";

.skill-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  img {
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: rgba(40, 199, 111, 0.12);
    
    img {
      transform: scale(1.25);
    }
  }
}

.portfolio-card {
  
  border: 2px dotted green;
  border-radius: 5px;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  img {


    width: 100%;
    height: 400px;
    object-fit: fill;
  }

  .content-title {
    background:lightslategray;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
  }

  & .content-title>div {
    margin: 0;
    color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h6 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 500;
    }
  }

  &:hover {
    .content-title {
      opacity: 1;
    }
  }
}